{% include 'base.html' %}
<div class="container">
    <p>UnJs包括两部分</p>
    <ul>
        <li>基于NodeJs的WEB开发框架 - UnJs</li>
        <li>基于JQuery和HTML5的single page框架 - UnJsSp</li>
    </ul>
    <p>它们都是个人兴趣的产物，并不是一个完整的项目，说框架有点大，不如说整合。两部分都已经在一个项目中使用，现在放在这里，有兴趣的同学可以看看</p>
    <h2>UnJs</h2>
    <p>下载: <a href="https://github.com/onlyfu/UnJs" target="_blank">https://github.com/onlyfu/UnJs</a></p>
    <h3>已有功能</h3>
    <ul>
        <li>路由</li>
        <li>控制器</li>
        <li>模板加载</li>
        <li>子模板加载</li>
        <li>模板变量解析</li>
        <li>并发(连续)异步回调</li>
        <li>顺序异步回调</li>
    </ul>
    <h3>需要增加</h3>
    <ul>
        <li>model</li>
        <li>模板循环解析</li>
        <li>模板条件解析</li>
    </ul>
    <h2>UnJsSp</h2>
    <p id="container"></p>
    <h3>已有功能</h3>
    <ul>
        <li>路由</li>
        <li>控制器</li>
        <li>动态文件加载</li>
        <li>并发(连续)异步回调</li>
        <li>顺序异步回调</li>
        <li>链接地址控制</li>
        <li>回退控制</li>
    </ul>
    <h3>需要增加</h3>
    <ul>
        <li>view</li>
        <li>model</li>
    </ul>
    <p>@onlyfu <a href="https://github.com/onlyfu" target="_blank">https://github.com/onlyfu</a></p>
</div>
{% include 'footer.html' %}
