<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>404</title>
    <style type="text/css">
    body{background-color:#000;color:#efefef;font-size:48px;font-weight:bold;font-family:"Monaco","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;}
    .content{width:500px;height:300px;position:absolute;left:50%;top:50%;margin-left:-250px;margin-top:-150px;text-align:center;}
    .content small{font-size:18px;}
    </style>
    </head>
    <body>
        <div class="content">404 找不到了！<small>UnJs.me</small></div>
    </body>
</html>
