{{ var list = data['list'] ? data['list'] : [{text: '是', value: '1'}, {text: '否', value: '0'}] }}

<div class="component-radio">
    {{ for var i in list }}
    {{ var checked = data['default'] === list[i]['value'] ? 'checked' : '' }}
    <label>
        <input type="radio"
               value="{{ list[i]['value'] }}" {{ checked }}
               {{ for var d in data }}
                    {{ if d !== 'list' && d !== 'value' }}
                    {{ if data.hasOwnProperty(d) }}
                     {{ d }}="{{ data[d] }}"
                    {{ end }}
                    {{ end }}
                {{ end }}
        /> {{ list[i]['text'] }}
    </label>
    {{ end }}
</div>