<div class="component-tree-popup">
    <div class="component-tree-popup-item">
        <div class="component-tree-popup-title">+ 重庆市</div>
        <div class="component-tree-popup-children">
            <div class="component-tree-popup-item">
                <div class="component-tree-popup-title">+ 渝北区</div>
                <div class="component-tree-popup-children">
                    <div class="component-tree-popup-item">
                        <div class="component-tree-popup-title">- 两路镇</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
