{{ var type = data['type'] ? data['type'] : 'text' }}
{{ var unit = data['unit'] ? 'component-input-unit' : '' }}
{{ var symbol = data['symbol'] ? 'component-input-symbol' : '' }}

<div class="component-input {{ unit }} {{ symbol }}">
    {{ if data['symbol'] }}
    <span class="component-symbol">{{ data['symbol'] }}</span>
    {{ end }}
    <input
        {{ for var i in data }}
            {{ if data.hasOwnProperty(i) }}
             {{ i }}="{{ data[i] }}"
            {{ end }}
        {{ end }}
        />
    {{ if data['unit'] }}
    <span class="component-unit">{{ data['unit'] }}</span>
    {{ end }}
</div>
{{ var component = this.callComponent({name: 'input'}) }}