{{ var list = data['list'] }}

<div class="component-select radius-small">
    <select class="form-control">
        <option>请选择</option>
        {{ for var i in list }}
        {{ if Object.prototype.toString.call(list[i]) === '[object Object]' }}
            {{ var value = list[i]['value'] }}
            {{ var text = list[i]['text'] }}
        {{ else }}
            {{ var value = list[i] }}
            {{ var text = list[i] }}
        {{ end }}
        <option value="{{ value }}">{{ text }}</option>
        {{ end }}
    </select>
</div>