/**/
.layout{
    width:100%;height:100%;
}

/* sidebar */
.sidebar{width:200px;background-color:#222;height:100%;overflow:auto;}
/* system */
.system-container{
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #444;
}
.system-container .avatar{
    display: inline-block;
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color:#999;
}

.system-name {
    color:#fff;
    padding-top:10px;
}

/* menu */
.menu{padding: 20px 0;}
.menu ul li{padding:10px 20px;color:#fff;cursor: pointer;border-left:3px solid #222;}
.menu ul .menu-level-1.focus{border-left:3px solid #f26661;background-color:#444;}
.menu ul .menu-level-1:hover{border-left:3px solid #fff000;background-color:#333;}
.menu-child{}
.menu-child ul{list-style: none;background-color:#444;}
.menu-child ul li{border-bottom:1px solid #333;}

/* main */
.main{width:100%;height:100%;overflow-x:hidden;position: relative;}

.main .header{height:45px;border-bottom:1px solid #cfcfcf;background-color:#fff;}
/* header */
.header-main{width:100%;}
.user-container{width:45px;height:45px;padding:5px;}
.user-container .avatar{width:35px;height:35px;border-radius: 50%;background-color:#ccc;}

/**/
.main-container{height:100%;padding:10px;overflow:auto;}