{{ var id = 'tree-' + parseInt(Math.random() * 1000000) }}
<div class="component-tree flex-row">
    <div class="component-input flex-auto">
        <input id="{{ id }}"
            {{ for var i in data }}
                {{ if data.hasOwnProperty(i) && i !== 'id' }}
                 {{ i }}="{{ data[i] }}"
                {{ end }}
            {{ end }}
            />
    </div>
    <div class="component-tree-icon"><i class="mdi mdi-file-tree"></i></div>
</div>

{{ var component = this.callComponent({name: 'tree'}, {id: id}) }}