{{ var id = 'datepicker-' + parseInt(Math.random() * 1000000) }}
<div class="component-date-selector flex-row">
    <div class="component-input flex-auto">
        <input id="{{ id }}"
            {{ for var i in data }}
                {{ if data.hasOwnProperty(i) && i !== 'id' }}
                 {{ i }}="{{ data[i] }}"
                {{ end }}
            {{ end }}
            />
    </div>
    <div class="component-date-selector-icon"><i class="mdi mdi-calendar"></i></div>
</div>

{{ var component = this.callComponent({name: 'date_selector'}, {id: id}) }}
