<div id="js-sys-user-info-form">
    <div class="form-line">
        <component.basic.input.view placeholder="用户名称" class="js-form-control" required="1" length="[6,20]" id="js-sys-user-old-password" type="password"></component.basic.input.view>
    </div>
    <div class="form-line">
        <component.basic.input.view placeholder="邮箱" class="js-form-control" required="1" length="[6, 20]" id="js-sys-user-new-password" type="password"></component.basic.input.view>
    </div>
    <div class="form-line">
        <component.basic.input.view placeholder="电话" data_name="再次新密码" length="[6, 20]" class="js-form-control" required="1" type="password"></component.basic.input.view>
    </div>
    <div class="form-line">
        <component.basic.input.view placeholder="所属地区" data_name="再次新密码" length="[6, 20]" class="js-form-control" required="1" id="js-sys-user-confirm-new-password" type="password"></component.basic.input.view>
    </div>
</div>