<div id="js-sys-user-password-form">
    <div class="form-line">
        <label class="form-label">原密码:</label>
        <component.basic.input.view class="js-form-control" required="1" length="[6,20]" id="js-sys-user-old-password" type="password"></component.basic.input.view>
    </div>
    <div class="form-line">
        <label class="form-label">新密码:</label>
        <component.basic.input.view class="js-form-control" required="1" length="[6, 20]" equal="confirm_password" id="js-sys-user-new-password" type="password"></component.basic.input.view>
    </div>
    <div class="form-line">
        <label class="form-label">再次新密码:</label>
        <component.basic.input.view name="confirm_password" required="1" data_name="再次新密码" length="[6, 20]" class="js-form-control" id="js-sys-user-confirm-new-password" type="password"></component.basic.input.view>
    </div>
</div>