{{ var list = data['list'] }}

<div class="component-select radius-small">
    <select
        {{ for var i in data }}
            {{ if i !== 'list' }}
            {{ if data.hasOwnProperty(i) }}
             {{ i }}="{{ data[i] }}"
            {{ end }}
            {{ end }}
        {{ end }}
        >
        <option value="">请选择</option>
        {{ for var i in list }}
        {{ if Object.prototype.toString.call(list[i]) === '[object Object]' }}
            {{ var value = list[i]['value'] }}
            {{ var text = list[i]['text'] }}
        {{ else }}
            {{ var value = list[i] }}
            {{ var text = list[i] }}
        {{ end }}
        {{ var selected = data['default'] && value === data['default'] ? 'selected' : '' }}
        <option value="{{ value }}" datasource="{{ list[i]['dataSource'] }}" {{ selected }}>{{ text }}</option>
        {{ end }}
    </select>
</div>