{{ var modalCode = parseInt(Math.random() * 100000) }}
{{ var title = data['title'] ? data['title'] : 'Modal Title' }}

<div class="fixed-screen" id="modal_{{ modalCode }}">
    <div class="mask"></div>
    <div class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
                <i class="mdi mdi-close close"></i>
            </div>
            <div class="modal-body">
                {{ data['body'] }}
            </div>
            <div class="modal-footer radius-small">
                <div class="modal-footer-button">
                    <component.basic.button.view class="primary modal-button-confirm" text="确认"></component.basic.button.view>
                </div>
            </div>
        </div>
    </div>
</div>

{{ var component = this.callComponent({name: 'modal'}, {target: '#modal_' + modalCode, data: data}) }}
