{{ var modalCode = parseInt(Math.random() * 100000) }}

<div class="fixed-screen" id="modal_{{ modalCode }}">
    <div class="mask"></div>
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer radius-small">
                    <div class="modal-footer-button">
                        <component.basic.button.view class="" text="Close"></component.basic.button.view>
                    </div>
                    <div class="modal-footer-button">
                        <component.basic.button.view class="primary" text="OK"></component.basic.button.view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ var component = this.callComponent({name: 'modal'}, '#modal_' + modalCode) }}
